<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CDB - complex database</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
		<img src="/static/images/logoCDB2.png" alt="logoCDB" style="width:250px;height:100px;">
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li  ><a href="/intro">Home</a></li>
        		<li class="selected" ><a href="/tools">CDB</a></li>
        	    <li ><a href="/cdb/search">Search</a></li>
          	 	<li class="end"><a href="/cdb/citingUs">Citing Us</a></li>
				<li ><a href="/cdb/help">Help</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" class="width">
		<section  id="content">
			<article>
				<br></br>
				<b>   <font color="black">   CDB - Protein Complexes Data Base.</b>
				<p></p>
				<p><font color="black">CDB is an updated web database for hetero dimeric protein crystallographic complexes along with the crystallographic structures of the individual unbound proteins. The code that was used to retrieve these structures from the PDB is availble <a href="https://github.com/MosheAmitay/CDB/tree/master">here.</a></p>
				<p><font color="black"><font size="4.5"> <a href="http://www.jct-bioinfo.com/cdb/search"><b>Start searching for comlexes.</b></a></p>
				<br></br>

			</article>

        </section>

        <aside  class="sidebar">

            <ul>
               <li>
                    <h4>menu</h4>
                    <ul>
                        <li><a href="/home"><font color="black">Home Page</a></li>
                        <li><a href="/search"><font color="black">Search</a></li>
						<li><a href="/help"><font color="black">Help</a></li>
                    </ul>
                </li>

                <li>
                    <h4>About us</h4>
                    <ul>
                        <p></p>
                        <li><a href="http://www.jct.ac.il/en/"><font color="black">Jerusalem College of Technology </a></li>
                        <li class="text">

                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="https://zlab.umassmed.edu/benchmark/" ><font color="black">Protein-Protein Docking Benchmark 5.0</a></li>
                        <li><a href="http://dockground.compbio.ku.edu/" ><font color="black">Dockground</a></li>
                    </ul>
                </li>

            </ul>

        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>