<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>contact</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li><a href="/intro">Home</a></li>
        		<li><a href="/tools">Tools</a></li>
        		<li><a href="/management">Management</a></li>
        		<li class="selected"><a href="/contact">Contact us</a></li>
        	</ul>
	</div>
    </nav>
<br>
<br>
    <div id="body" >
		<section  id="content">

			<article>
</head>
<body>

<table style="width:100%" >
  <tr>
  </tr>
  <tr>
    <td width="50%"><font color="black"><b>Zohar Barnett-Itzhaki, PhD</b></td>
    <td width="50%"><font color="black"><b>Moshe Amitay, PhD</b></td>
  </tr>
  <tr>
    <td><font color="blue">

        zohari at gmail.com



</td>
    <td valign="top">
    <font color="blue">
        mamitay at g.jct.ac.il
  </tr>
</table>
				<br></br>

<br>
<br>
<br>
<br>
<br>
<br>
			</article>

        </section>


    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>