<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JCT bioinformatics center</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li class="selected"><a href="/intro">Home</a></li>
        		<li><a href="/tools">Tools</a></li>
        		<li><a href="/management">Management</a></li>
        		<li><a href="/contact">Contact us</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" class="width">
		<section  id="content">

			<article>
			    <img src="/static/images/sitefig.jpg" alt="logoCDB" style="width:650px;height:230px;">
				<br></br>
				<b><font color="black"><font size="9"> JCT Bioinformatics Center </font></b>
				<p></p>
				<p align="justify"><font color="black"><font size="4.5"> The JCT bioinformatics center focuses on tailor made services in the fields of bioinformatics and biostatistics.
<br>Our center provides a variety of services including:
<li>Next-generation sequencing data analysis. </ul>
<li>Machine learning analyses.</ul>
<li>Database construction.</ul>
<li>Software development.</ul>
<li>Bioinformatics consulting using up-to-date software tools.</ul>
</ul>
</font></a></p>

<hr style="border-top: 2px solid #99b3b9; background: transparent;">
    <div id="body" class="width">
		<section  id="content">

<p><b><p align="justify"><font color="black"><font size="4.7">Recent Projects</b></p>
        <p align="justify"><font color="black"><font size="4.5">
            <li>Finding molecular patterns distinguishing between sick and healthy patients based on statistical tools. </ul>
            <li>Analysis of cancerous histologiclal images.</ul>
            <li>Finding expression patterns of RNAseq - Collaboration with Dr. Michael Klutstein from the Hebrew Univesity.</ul>
            <li>Study of the association of hot spots and methylation - Collaboration with Dr. Michael Klutstein from the Hebrew Univesity.</ul>
				<br></br>
<br></br>
<hr style="border-top: 2px solid #99b3b9; background: transparent;">

    <div id="body" class="width">
		<section  id="content">

        <p><b><p align="justify"><font color="black"><font size="4.7">Recent Publications</b></p>
        <p align="justify"><font color="black"><font size="4.5">
            <li>Prediction of Shigellosis outcomes in Israel using machine learning classifiers G. Adamker, T. Holzer, I. Karakis, M. Amitay, E. Anis, S. R. Singer and Z. Barnett-Itzhaki, 2018, Epidemiology and Hygiene, Accepted. </ul>
            <li>Evaluating the peptide structure prediction capabilities of a purely ab-initio method M Amitay M Goldstein Protein Engineering, Design and Selection, Volume 30, Issue 10, 1 October 2017, Pages 723–727.</ul>
				<br></br>
				<!--<b><font size="4.0">      Zohar ---</font></b>-->
				<p></p>
				<!--<img src="/static/images/Zohar.png" alt="logoCDB" style="width:130px;height:100px;">-->
				<!--<p><font color="black">zohar is ....</a></p>-->
				<br></br>


			</article>

        </section>

        <aside  class="sidebar">

            <ul>
               <li>
                    <h4>menu</h4>
                    <ul>
                        <li><a href="/management"><font color="black">Management</a></li>
                        <li><a href="/tools"><font color="black">Tools</a></li>
						<li><a href="/help"><font color="black"></a></li>
                    </ul>
                </li>

                <li>
                    <h4>About us</h4>
                    <ul>
                        <p></p>
                        <li><a href="http://www.jct.ac.il/en/"><font color="black">Jerusalem College of Technology </a></li>
                        <li class="text">

                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="https://zlab.umassmed.edu/benchmark/" ><font color="black"></a></li>
                        <li><a href="http://dockground.compbio.ku.edu/" ><font color="black"></a></li>
                    </ul>
                </li>

            </ul>

        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>