<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CDB - complex database</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li class="selected"><a href="/intro">Home</a></li>
        		<li><a href="/tools">Tools</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" class="width">
		<section  id="content">

			<article>
				<br></br>
				<b><font color="black"><font size="12"> JCT Bioinformatics Center </font></b>
				<p></p>
				<p align="justify"><font color="black"><font size="4.5"> The recent developments in biological technologies and computer science algorithms have enabled scientists to face new biological and medical challenges. The field of Bioinformatics supplies tools, approaches and solutions for coping with such challenges, specifically those involving high-throughput data.
The JCT bioinformatics center focuses on a broad range of services in the fields of bioinformatics and biostatistics. Our center provides a variety of services including next-generation sequencing data analysis, database construction, machine learning analyses, bioinformatics consulting using computational methods and up-to-date software tools, in addition to scientific consulting services for development and execution of research projects.</font></a></p>

				<br></br>
				<img src="/static/images/sitefig.jpg" alt="logoCDB" style="width:650px;height:270px;">
				<!--<b><font size="4.0">      Zohar ---</font></b>-->
				<p></p>
				<!--<img src="/static/images/Zohar.png" alt="logoCDB" style="width:130px;height:100px;">-->
				<!--<p><font color="black">zohar is ....</a></p>-->
				<br></br>


			</article>

        </section>

        <aside  class="sidebar">

            <ul>
               <li>
                    <h4>menu</h4>
                    <ul>
                        <li><a href="/home"><font color="black">Home Page</a></li>
                        <li><a href="/search"><font color="black">Search</a></li>
						<li><a href="/help"><font color="black">Help</a></li>
                    </ul>
                </li>

                <li>
                    <h4>About us</h4>
                    <ul>
                        <p></p>
                        <li><a href="http://www.jct.ac.il/en/"><font color="black">Jerusalem College of Technology </a></li>
                        <li class="text">

                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="https://zlab.umassmed.edu/benchmark/" ><font color="black">Protein-Protein Docking Benchmark 5.0</a></li>
                        <li><a href="http://dockground.compbio.ku.edu/" ><font color="black">Dockground</a></li>
                    </ul>
                </li>

            </ul>

        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>