<!doctype html>
<html>
<head>
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>complex database</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
		<img src="/static/images/logoCDB2.png" alt="logoCDB" style="width:400px;height:140px;">
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li ><a href="/home">Home</a></li>
        	    <li ><a href="/search">Search</a></li>
          	 	<li class="end"><a href="/contactUs">Citing Us</a></li>
			    <li ><a href="/help">Help</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" class="width">
		<section id="content">
			<article>
			 <b>links for more information about protein complex :</b>
			 <p></p>
			  <li><a href="http://www.rcsb.org/pdb/home/home.do" title="premium templates">PDB - Protein Data Bank</a></li>
              <li><a href="https://www.ncbi.nlm.nih.gov/pmc/" title="web hosting">NCBI website</a></li>
			</article>
		
        </section>
        
        <aside class="sidebar">
	
            <ul>	
               <li>
                    <h4>menu</h4>
                    <ul>
                        <li><a href="/home">Home Page</a></li>
                        <li><a href="/search">Search</a></li>
						<li><a href="/help">Help</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4>About us</h4>
                    <ul>
                        <li class="text">
                        	<p style="margin: 0;">JCT Bioinformatics. 					<a href="http://www.jct.ac.il/he/%D7%94%D7%97%D7%95%D7%92-%D7%9C%D7%91%D7%99%D7%95-%D7%90%D7%99%D7%A0%D7%A4%D7%95%D7%A8%D7%9E%D7%98%D7%99%D7%A7%D7%94" class="readmore">Read More &raquo;</a></p>
                        </li>
                    </ul>
                </li>
                
                
                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="http://www.rcsb.org/pdb/home/home.do" title="premium templates">PDB - Protein Data Bank</a></li>
                        <li><a href="https://www.ncbi.nlm.nih.gov/pmc/" title="web hosting">NCBI website</a></li>
                    </ul>
                </li>
                
            </ul>
		
        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4>about</h4></li>
                <li><a href="/home">home Page</a></li>
              
            </ul>
            
            <ul>
            	<li><h4>search</h4></li>
                <li><a href="/search">search filter</a></li>
    
            </ul>
            
            <ul class="endfooter">
            	<li><h4>contact</h4></li>
                <li><a href="/contactUs">citing us</a></li>
				<li><a href="/help">help</a></li>
              
            </ul>
            
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p>&copy; JCT 2017. <a href="http://www.jct.ac.il/">Bioinformatic</a> by JCT</p>
         </div>
    </footer>
</div>
</body>
</html>