<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JCT bioinfo center</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li><a href="/intro">Home</a></li>
        		<li><a href="/tools">Tools</a></li>
        		<li class="selected"><a href="/intro">management</a></li>
        		<li><a href="/contact">Contact us</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" >
		<section  id="content">

			<article>
</head>
<body>

<table style="width:100%" >
  <tr>
  </tr>
  <tr>
    <td width="50%"><font color="black"><b>Zohar Barnett-Itzhaki, PhD</b></td>
    <td width="50%"><font color="black"><b>Moshe Amitay, PhD</b></td>
  </tr>
  <tr>
    <td>
    <ul><font color="black">
        <li>Experience and wide knowledge in Computational Biology (Bioinformatics)</li>
        <li>Next generation sequencing, Genomics, Transcriptomics, Molecular biology, System biology, Biostatistics</li>
        <li>Machine learning, and Computer science</li>
        <li>Ph.D. in bioinformatics and genomics in Prof Hanah Margalit lab, The Hebrew University of Jerusalem</li>
        <li>Computational biologist and Bioinformatics team leader in biotech companies</li>
        <li>Faculty member and lecturer in the bioinformatics department, Jerusalem College of Technology</li>
        <li>Over 25 papers in leading peer review journals</li>
    </ul>

</td>
    <td valign="top">
    <ul><font color="black">
        <li>Experience and wide knowledge in bioinformatics, protein bioinformatics and data science.</li>
        <li>PhD in bioinformatics from the Hebrew University of Jerusalem. MSc in computational drug design from Bar-Ilan University. Bachelor’s in bioinformatics at the Bar-Ilan University.</li>
        <li>Team leader at the biotech industry.</li>
        <li>Faculty member and lecturer in the bioinformatics department, Jerusalem College of Technology. </li></td>
  </tr>
</table>
				<br></br>


			</article>

        </section>


    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>