<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>



      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>

         <tbody>
            {% for protein in result %}
               <tr>
                  <td>{{ protein }}</td>
                  <td>{{ protein }}</td>
                  <td>{{ protein }}</td>
                  <td>{{ protein }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>
