<!doctype html>
<html>
<head >
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JCT bioinfo center</title>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<div id="container">
    <header>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li  ><a href="/intro">Home</a></li>
        		<li class="selected" ><a href="/tools">Tools</a></li>
        		<li  ><a href="/management">Management</a></li>
        		<li><a href="/contact">Contact us</a></li>
        	</ul>
	</div>
    </nav>

    <div id="body" class="width">
		<section  id="content">
			<article>
				<br></br>
				<b><a href="/cdb/home">      CDB - Protein Complexes Data Base.</a></b>
				<p></p>
				<p><font color="black">CDB is an updated web database for hetero dimeric protein crystallographic complexes along with the crystallographic structures of the individual unbound proteins.</a></p>
				<br></br>


			</article>

        </section>

        <aside  class="sidebar">

            <ul>
               <li>
                    <h4>menu</h4>
                    <ul>
                        <li><a href="/intro"><font color="black">Home Page</a></li>
                        <li><a href="/tools"><font color="black">Tools</a></li>
                    </ul>
                </li>

                <li>
                    <h4>About us</h4>
                    <ul>
                        <p></p>
                        <li><a href="http://www.jct.ac.il/en/"><font color="black">Jerusalem College of Technology </a></li>
                        <li class="text">

                        </li>
                    </ul>
                </li>


                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="https://zlab.umassmed.edu/benchmark/" ><font color="black">Protein-Protein Docking Benchmark 5.0</a></li>
                        <li><a href="http://dockground.compbio.ku.edu/" ><font color="black">Dockground</a></li>
                    </ul>
                </li>

            </ul>

        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-content width">
            <ul>
            	<li><h4></h4></li>


            </ul>

            <ul>



            </ul>

            <ul class="endfooter">

            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
         </div>
    </footer>
</div>
</body>
</html>